body {
    text-align: center;
}

.form {
    border: 3px solid #000;
    width: 200px;
    margin: auto;

    text-align: center;
    vertical-align: middle;
}

#width, #height {
    width: 50px;
    display: block;
    margin: auto;
}

.row {
    display: block;
}

.cell {
    float: left;
    height: 30px;
    width: 30px;
    max-height: 30px;
    max-width: 30px;
    border: 4px solid black;
    margin: 4px;
    padding: 4px;
    color: darkgrey;
}

.path {
    background: green;
    color: yellow;
}

.start {
    background: blue;
    color: yellow;
}

.end {
    background: red;
    color: yellow;
}

.Barrier{
    background: black;
}

.table {
    border: 4px solid black;
    margin: auto;
    margin-left: 50px;
    margin-top: 100px;
    display: inline-block;
}